{{ $caption := .Inner | markdownify }} {{ $param_formsappID := .Get 0 }} {{ $height := .Get 1 | default "1000px"}}

<div class="row audio-div">
  <div class="col-sm-1 text-middle"> ↓ </div>
  <div class="col-sm-6 text-middle" style="background-color:rgb(241, 241, 241);">
    음의 <u>높낮이가 매우 낮은</u> 스타일의 곡 (Very Low Pitch)
  </div>
  <div class="col-sm-5">
    <audio controls >
      <source src="{{ "pitch-low.wav" | absURL}}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</div>

<div class="row audio-div">
  <div class="col-sm-1 text-middle"> — </div>
  <div class="col-sm-6 text-middle" style="background-color:rgb(241, 241, 241);">
    음의 <u>높낮이가 보통인</u> 스타일의 곡 (Moderate Pitch)
  </div>
  <div class="col-sm-5">
    <audio controls>
      <source src="{{ "pitch-normal.wav" | absURL}}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</div>


<div class="row audio-div">
  <div class="col-sm-1 text-middle"> ↑ </div>
  <div class="col-sm-6 text-middle" style="background-color:rgb(241, 241, 241);">
    음의 <u>높낮이가 매우 높은</u> 스타일의 곡 (Very High Pitch)
  </div>
  <div class="col-sm-5">
    <audio controls>
      <source src="{{ "pitch-up.wav" | absURL}}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</div>

