{{ $caption := .Inner | markdownify }} {{ $param_formsappID := .Get 0 }} {{ $height := .Get 1 | default "1000px"}}


<div class="row audio-div">
  <div class="col-sm-1 text-middle"></div>
  <div class="col-sm-6 text-middle" style="background-color:rgb(225, 225, 225);">
    <u>매우 빠른</u> 스피드의 곡 (Very Fast Tempo)
  </div>
  <div class="col-sm-5" style="background-color:lavenderblush;">
    <audio controls >
      <source src="horse.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</div>

<div class="row audio-div">
  <div class="col-sm-1 text-middle"></div>
  <div class="col-sm-6 text-middle" style="background-color:rgb(225, 225, 225);">
    <u>매우 느린</u> 스피드의 곡 (Very Slow Tempo)
  </div>
  <div class="col-sm-5" style="background-color:lavenderblush;">
    <audio controls>
      <source src="horse.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</div>
