{{ $caption := .Inner | markdownify }} {{ $param_formsappID := .Get 0 }} {{ $height := .Get 1 | default "1000px"}}


<div class="row audio-div">
  <div class="col-sm-1 text-middle"></div>
  <div class="col-sm-6 text-middle" style="background-color:rgb(241, 241, 241);">
    <u>매우 낮은 밀도</u>의 곡 (Very Sparse)
  </div>
  <div class="col-sm-5">
    <audio controls >
      <source src="horse.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</div>

<div class="row audio-div">
  <div class="col-sm-1 text-middle"></div>
  <div class="col-sm-6 text-middle" style="background-color:rgb(241, 241, 241);">
    <u>매우 높은 밀도</u>의 곡 (Very Dense)
  </div>
  <div class="col-sm-5">
    <audio controls>
      <source src="horse.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</div>
